/* logo */
.logo{
    width: 1200px;
    margin: 0 auto;
}
.neirong{
    width: 1200px;
    margin: 0 auto;
    /* height: 100px; */
}
.nr_form{
    width: 500px;
    margin: 50px auto 0px;
    /* height: 50px; */
}
.ifo{
    position: relative;
    width: 500px;
    display: inline-block;
    height: 60px;
}
.ifo title{
    height: 27px;
    line-height: 27px;
    margin: 0px;
    width: 80px;
    text-align: right;
    display: inline-block;
    color: #3c3c3c;
    /* font-size: 20px; */
}
.nr_form .ifo .title1{
    margin-left: -16px;
}
.ifo input{
    border: 1px solid grey;
    background: #FFe7e7;
    outline: none;
    width: 260px;
    height: 35px;
}
.Validform_checktip {
    white-space: nowrap;
    text-align: center;
    margin-left: 0px;
    line-height: 33px;
    overflow: hidden;
    color: rgb(214, 23, 23);
    font-size: 12px;
    position: absolute;
    left: 360px;
    background: #FFe7e7;
    padding: 0 10px;
    opacity: 0;
}
.nr_form .ifo .yzm{
    width: 120px;
}
.ren{
    position: absolute;
    right: 5px;
    top: 0px;
    width: 135px;
    height: 35px;
    left: 210px;
}
.ren p{
    float: left;
    width: 90px;
    height: 33px;
    border: 1px solid #e6e6e6;
    line-height: 33px;
    margin-right: 3px;
    margin-left: -25px;
}
.renewedly{
    display: inline-block;
    margin-left: 8px;
}
.renewedly img{
    padding-top: 5px;
}
/*立即注册*/
.next-btn{
    width: 280px;
    height: 40px;
    margin: 15px 0 25px 45px;
}
.next-btn a{
    background: #f3210a;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}